body{
    background-color: lightgray;
}

.header{
    text-align: center;
}
.content{
    text-align: center;
}
.formDiv{
    margin-left: auto;
    margin-right: auto;
}
input{
    width: 75%;
}
label{
    width: 10%;
}
.col-3,.col-5{
    margin-bottom: 0.5%;
    background-color: white;
    padding-bottom: auto;
    padding-top: auto;
}
.col-3{
    margin-left: 15%;
}
#submitButton{
    width: 5%;
}